@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Proyecto hecho por Cristian David Arias O</h1>
    <p> cariasortegon@gmail.com  - construida en Web apps with ASP.NET Core.</p>
</div>
